*{
    margin: 0px;
    padding: 0px;
}
body{
    font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;
}
/* banner releted styls */

.banner-container{
background: rgba(229, 84, 115, 0.10);
background-size: cover;
display: flex;


}
.banner-content{
    
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 197px;

}
.title{
    color: #272727;
    font-size: 80px;
    font-weight: 800;
}

.discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
    margin-top: 50px;
}
.btn-primary{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    border: 0px;
    margin-top: 50px;
    margin-bottom: 150px;
}
.images{
    width: 635px;
    height: 800px;
    margin-left: 240px;
    margin-right: 240px;
    margin-top: 50px;

}

/*our Featured flowers part releted styles */

.flowers-container{
  margin-top: 178px;

}
.flowers-title-part{
    text-align: center;
    
    
}
.flowers-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
}
.flowers-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 70px;
    
}

/* box-items-container releted styles */


 .flower-box-container{
    display: flex;
    align:center;
    
 }

.flower-box-background{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);

}

.flower-box-background2{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(5, 151, 160, 0.15);

}

.flower-box-background3{
    width: 464px;
    height: 538px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(71, 125, 17, 0.15);



}



.box-container{
    text-align: center;
    align-items: center;
}

.flower-box-container{
    display: flex;
    margin-top:100px;
    gap: 50px;
    width: 100%;
    justify-content:center;
    
}
.flower-box-images1{
padding:110px 78px 0px 78px;
}

.box-fotter-title{
color: #272727;
text-align: center;
font-size: 24px;
font-weight: 700;
line-height: 35px;
text-decoration-line: underline;
margin-top: 50px;
}

/* services-banner-container rleted styls */
.services-banner-container{
 
  width: 1440px;
  height: 320px;
  border-radius: 8px;
  background: rgba(39, 39, 39, 0.05);
  width: 75%;
  margin: auto;
}



.services-banner-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 140px;
}
.box{
    text-align: center;
    
}

/* banner-part2 releted styles */

.banner-part2-container{
  display: flex;
  background-size: cover;
  gap:0 px;
  height: 620px;
  background: rgba(229, 84, 115, 0.05);
  margin-top: 130px;

}
.banner-part2-container-left-colume{
    margin: auto;
    align-content:center;
}
.banner-part2-container-right-colume{
    display: flex;
    margin: auto;
    
}
.banner-part2-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;
    margin-top: 230px;
    text-align: center;
    
   
}
.off-color{
    color:#E55473;
}

.banner-part2-title{
    
}

.banner-part2-title-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
   

    

}

.btn2{
    padding: 20px 43px;
    border-radius: 8px;
    background: #E55473;
    gap: 10px;
    color: #FFF;
    font-size: 20px;
    border: 0px;
    margin-top: 50px;
    margin-bottom: 150px;
}


/* Instagram-part styls */
.Instagram-part{
    text-align:center ;
    margin-top: 130px;
    

}

.Instagram-title{
    color: #272727;
    font-size: 40px;
    font-weight: 800;

}
.Instagram-discription{
    color: rgba(39, 39, 39, 0.60);
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}

.images-container{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin: 100px 50px 0px 50px;

}

/* Get The Latest Deals */
.small-banner-container{
    
    height: 449px;
    
    background-image: url('../imges/Rectangle\ 9.png');
    background-position:center;
    margin-top: 130px;
    background-repeat: no-repeat;
}

.small-banner-container-title{
    
 color: #272727;
text-align: center;
font-size: 40px;
font-weight: 800;
padding-top:150px;
align-items: center;

}

.small-banner-container-discription{
    color: rgba(39, 39, 39, 0.60);
    text-align: center;
    font-size: 18px;
    font-weight: 400;
    line-height: 30px;
}
.email{
    width: 700px;
    height: 64px;
    background: #FFF;
    font-weight: 400;
    font-size: 16px;
    color: rgba(39, 39, 39, 0.60);
    padding-left: 10px;
    border: 0px;
    border-radius: 5px;
    
    

}
.a{
padding-left:400px;
}

/* footer seciton styls */
.footer{
    height: 449px;
    background-color: #111010;
    margin-top: 150px;
}
.footer-title{
    color:#FFF;
    text-align: center;
    padding-top: 150px;
    font-size:48px;
    font-weight: 800px;
}
    
.footer-dis{
color: rgba(255, 255, 255, 0.90);
text-align: center;
font-size: 18px;
font-weight: 400;
line-height: 30px;
padding: 10px;
}

.copy{
color: rgba(255, 255, 255, 0.40);
text-align: center;
font-family: Lato;
font-size: 16px;
font-weight: 400;

}


